﻿@page
@model MovieWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<form method="post" asp-page="Login">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" asp-for="Account.Username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="Account.Password" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" class="btn btn-primary" /></td>
        </tr>
    </table>
    <p>Don't have account? <a href="./Register">Create one</a></p>
    @Model.msg
</form>